body{
    color: rgb(38, 31, 22);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1%;
    font-size: 16px;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid;
    margin: auto;
}

#contanier h1{
    font-size: 20px;
}